<a href="https://colab.research.google.com/github/Jaise152/Modern-Natural-Language-Processing-in-Python/blob/main/CNN_for_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [10]:
import pandas as pd
import numpy as np
import re
import math
from bs4 import BeautifulSoup
from google.colab import drive

In [15]:
try:
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf
from tensorflow.keras import layers
import tensorflow_datasets as tfds

In [16]:
drive.mount("/content/drive/")

Mounted at /content/drive/

In [17]:
cols = ['sentiment', 'id', 'date', 'query', 'user','text']

In [20]:
test_data = pd.read_csv(
   "/content/drive/MyDrive/Colab Notebooks/Modern-Natural-Language-Processing-in-Python/test.csv",
    header = None,
    names = cols,
    engine = 'python',
    encoding = 'latin1'
)

In [21]:
train_data = pd.read_csv(
   "/content/drive/MyDrive/Colab Notebooks/Modern-Natural-Language-Processing-in-Python/train.csv",
    header = None,
    names = cols,
    engine = 'python',
    encoding = 'latin1'
)

In [22]:
test_data.head(3)

   sentiment  id  ...    user                                               text
0          4   3  ...  tpryan  @stellargirl I loooooooovvvvvveee my Kindle2. ...
1          4   4  ...  vcu451  Reading my kindle2...  Love it... Lee childs i...
2          4   5  ...  chadfu  Ok, first assesment of the #kindle2 ...it fuck...

[3 rows x 6 columns]